* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    color: goldenrod;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    padding-bottom: 20px;
}